<!DOCTYPE HTML>
<html>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'events/style.css' %}" />

{% if user.is_authenticated %}
<h1>hello {{ user.username }}!</h1>
<a href="/events/logout/">Logout</a><br />

<h2>My Events</h2>
{% if latest_event_list %}
    <ul>
    	<form action="{% url 'events:delete' %}" method="post">
    	{% csrf_token %}
        {% for event in latest_event_list %}
            <!-- not time efficient but works for reasonable amount of data -->
   		    {% if event.creator == user.username %}
            <li><a href="{% url 'events:detail' event.id %}">{{ event.title }}</a><input type="radio" name="eventID" id="" value="{{ event.id }}"/></li>
            {% endif %}
        {% endfor %}
        	<input type="submit" value="Delete" />
        </form>

    </ul>
{% else %}
    <p>No events are available.</p>
{% endif %}

<h2>Add an Event</h2>
<form action="{% url 'events:add' %}" method="post">
{% csrf_token %}
<p>Title: <input type="text" name="title" id="" value="{{ title }}"></p>
<p>Desc: <input type="text" name="desc" id="" value="{{ desc }}"></p>
<p>Start Date: <input type="date" name="start_date" id="" value="{{ start_date }}"></p>
<p>End Date: <input type="date" name="end_date" id="" value="{{ end_date }}"></p>
<p>Start Time: <input type="time" name="start_time" id="" value="{{ start_time }}"></p>
<p>End Time: <input type="time" name="end_time" id="" value="{{ end_time }}"></p>
<div style="display: none;"><input type="text" name="creator" value="{{ user.username }}"</input></div>
<input type="submit" value="Add" />
{% else %}
<h1>hello world!</h1>
{% endif %}


</form>
</html>