<!DOCTYPE HTML>
<html>

<head>
	{% load staticfiles %}

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="{% static "events/style.css" %}" />
	<!-- <link type="text/css" href="{% static 'events/jquery-ui-timepicker-addon.css' %}" /> -->
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<!-- <script type="text/javascript" src="{% static "events/jquery-ui-timepicker-addon.js" %}"></script> -->
	<script src="{% static "events/moment.js" %}"></script> 
	<script src="{% static "events/combodate.js" %}"></script> 
	<script src="{% static "events/jquery.ui.touch-punch.js" %}"></script>
	<script src="{% static "events/main.js" %}"></script>
</head>

<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Hello, {{ user.first_name }}!</a></h1>
				<h4><a href="/events/logout/">Logout</a></h4>
				<p> <bold><a href="http://goo.gl/forms/yFULhAFLJk">Let us know what you think!</a> </bold></p>
			</div>

			<div id="menu">
				<ul class="side-nav" id="sideNav">
					<li id="homeNav"><a href="#">Home<span id="notification"> [{{ user.notification_set.all|length }}]</span></a></li>
					<li id="createNav"><a href="#">Create</a></li>
					<li id="eventsNav"><a href="#">Events</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="wrapper" id="wrapper">
		<!--homePage with embedded calendar and notifications -->
		<div id="homePage" class="tabPage">
			<h2>Notifications</h2>
				<form action="{% url 'events:manageNotification' %}" method="post">
				{% csrf_token %}
				<p> {{ notification }} <input type="submit" name="clear" value="Clear All"/></p>
					<span style="display: none;"><input type="text" name="username" value="{{ user.username }}"</input></span>
				</form>
			
				{% for notification in user.notification_set.all %}
				<form action="{% url 'events:manageNotification' %}" method="post">
				{% csrf_token %}
					<p> {{ notification }} <input type="submit" name="dismiss" value="Dismiss"/></p>
						<span style="display: none;"><input type="text" name="notificationID" value="{{ notification.id }}"</input></span>
				</form>
				{% endfor %}
		</div>

		<!--create event-->    
		<div id="createPage" class="tabPage">
			<h2>Create Event</h2> 
			<h3> {{error}} </h3>
				<form action="{% url 'events:add' %}" method="post">    
					{% csrf_token %}
					<p>Title: <input type="text" name="title" id="" size="50" value="{{ title }}"></p>
					Description: <br> <textarea type="text" style="resize:none" name="desc" cols="50" rows="3" id="" value="{{ desc }}"></textarea> <br> <br>
					<p>Start Date: <input type="text" style="position:relative; z-index: 100000;border: 0; color: #666666; font-weight: bold;" name="start_date" id="from" value="{{ start_date }}"readonly></p>
					<p>End Date: <input type="text" name="end_date" style="position:relative; z-index: 100000;border: 0; color: #666666; font-weight: bold;"  id="to" value="{{ end_date }}" readonly></p>
					<p>Time Range: <input type="text" name="time_range" id="time_range" style="border: 0; color: #666666; font-weight: bold;" value="{{ time_range }}" readonly/></p>
					<div id="time_slider"> </div> <br>
					<p>Event Length: <input size="25" type="text"name="event_length" id="event_length" style="border: 0; color: #666666; font-weight: bold;" value="{{ event_length }}" readonly></p>
					<div id="eventLengthSlider"></div><br>
					<p>Invitees: <input type="text" name="invitees" id="autocomplete" size="50" value="{{ invitees }}"></p>
					<span style="display: none;"><input type="text" name="creator" value="{{ user.username }}"</input></span>
					<input type="submit" value="Add" />
				</form>
		</div>

		<div id="eventsPage" class="tabPage">
			<div id="myEvents">
				<h2>My Events</h2><br/><br/>
					<h3>Select a time for your events: </h3>
					 <ul id="stage2">
						{% for event in latest_event_list %}
							{% if event.creator == user.username and event.posstime_set.all|length > 0 %}
								   <li><h4>Event Name: {{ event.title }} </h4>
									<form action="{% url 'events:manageCreator' %}" method="post">
										{% csrf_token %}
										<span style="display: none;"><input type="text" name="eventID" value="{{ event.id }}"</input></span>
										<input type="submit" name="delete" id="delete_button" value="Delete Event"/>
										<input onclick="checkSkedge()" type="submit" name="skedg" value="Skedg Event"/>
										<br/><br/>
									{% for p in event.posstime_set.all %}
										{% if forloop.counter <= 3 %}
											{% if forloop.counter == 1 %}
												<p>{{ p }} ; Conflicts: {{ p.nConflicts }}
												<input type="radio" name="skedgeTime" value="{{ p.id }}" checked="checked"/></p>
											{% else %}
												<p>{{ p }} ; Conflicts: {{ p.nConflicts }}
												<input type="radio" name="skedgeTime" value="{{ p.id }}"/></p>
											{% endif %}
											
										{% endif %}
									{% endfor %}

									Not responded: 
									{% for i in event.invitee_set.all %}
										{% if not i.hasVoted %}
										{{ i }}
										{% endif %}
									{% endfor %}
									<br/><br/>
									<script>
									function checkSkedge() {
										if (!$("input[name='skedgeTime']:checked").val()) {
											   alert('Nothing is checked!');
											}
										}
									</script>
									</form>
									</li>
								{% endif %}
						{% endfor %}
						</ul>
					<h3>Acceptances to your events: </h3>
					{% if latest_event_list %}
					<ul id="stage1">
						{% for event in latest_event_list %}
							<!-- not time efficient but works for reasonable amount of data -->
							<li>
							{% if event.creator == user.username or user.username == "admin" %}
								<form action="{% url 'events:manageCreator' %}" method="post">
									{% csrf_token %}
									<span style="display: none;"><input type="text" name="eventID" value="{{ event.id }}"</input></span>
									<li>
										<bold> Event Name: </bold> <a href="{% url 'events:detail' event.id %}">{{ event.title }}</a> <br/>
										<input type="submit" name="delete" id="delete_button" value="Delete Event"/>
										<input type="submit" name="getTimes" value="Get Times" />
										<br/> Not Responded:
										{% for invitee in event.invitee_set.all %}
											{% if not invitee.rsvpAccepted %}
												{{ invitee.name }}
											{% endif %}
										{% endfor %}
									</li>
									<br/>
								</form>
							{% endif %}</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			<!-- Events invited to -->
				<div id="otherEvents">
				<h2>Events Invited To</h2><br/><br/>
					<h3> Vote down times for approved events: </h3>
					<h3><ul id="stage2">
						{% for event in latest_event_list %}
							{% for invitee in event.invitee_set.all %}
								{% if invitee.name == user.username and event.posstime_set.all|length > 0 and invitee.rsvpAccepted and not invitee.hasVoted %}

								   <li><h4>{{ event.title }} </h4>
									<form action="{% url 'events:manageInvitee' %}" method="post">    
									{% csrf_token %} 
									<span style="display: none;"><input type="text" name="username" value="{{ user.username }}"/></span>     
									<span style="display: none;"><input type="text" name="eventID" value="{{ event.id }}"</input></span>                
									{% for p in event.posstime_set.all %}
										{% if forloop.counter <= 3 %}
											<p>{{ p }}
											<input type="checkbox" name="vetoTimes" value="{{ p.id }}"/></p>
										{% endif %}
									{% endfor %}
										<input type="submit" name="vetoPoss" value="Veto"/>
										<input type="submit" name="decline" value="Decline"/>
									</form>
									</li>
								{% endif %}
							{% endfor %}
						{% endfor %}
						</ul></h3>
					<h3>Accept invites to events:</h3>
					{% if latest_event_list %}
					<ul>
						{% for event in latest_event_list %}
							{% for invitee in event.invitee_set.all %}
								<!-- not time efficient but works for reasonable amount of data -->
								{% if invitee.name == user.username and not invitee.rsvpAccepted %}
									{% if event.posstime_set.all|length > 0 %}
										<p id="warning" style="color:red">Your calendar will not be taken into account.</p>
									{% endif %}
									<form action="{% url 'events:manageInvitee' %}" method="post">
									{% csrf_token %}
									<li><a href="{% url 'events:detail' event.id %}">{{ event.title }}</a>
										<span style="display: none;"><input type="text" name="eventID" value="{{ event.id }}"/></span>
										<span style="display: none;"><input type="text" name="username" value="{{ user.username }}"/></span>
										<input type="submit" name="accept" value="Accept"/>
										<input type="submit" name="decline" value="Decline"/></li>
									</form>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</ul>
					{% else %}
						<p>No events are available.</p>
					{% endif %}

					<h3>Your pending events:</h3>
					{% if latest_event_list %}
					<ul>
						{% for event in latest_event_list %}
							{% for invitee in event.invitee_set.all %}
								<!-- not time efficient but works for reasonable amount of data -->
								{% if invitee.name == user.username and invitee.rsvpAccepted and not event.isScheduled %}
									<p><a href="{% url 'events:detail' event.id %}">{{ event.title }}</a></p>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</ul>

					{% else %}
						<p>No events are available.</p>
					{% endif %}
			</div>
		</div>
	</div>
</body>