<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="./../../static/events/style.css" />
<title>Skedg Login</title>
</head>

<body>
    <div id="page">
      <div id="pagetop">
		<h1>Skedg</h1>
        <div class="links">    	
            <ul>
           	   	<li><a href="#">Home</a></li>
            </ul>
        </div>
     </div>
        
        <div id="header">   Let us deal with your Skedg     </div>
  
<div id="main">
	<div class="content">
        	<div class="main_top">
            	<h1>Login to Skedg</h1>
            </div>
            
           	<div class="main_body">
                <p> Don't have an account? <a href="./../register">Register here!!</a>
                <form id="login_form" method="post" action="/events/login/">
                {% csrf_token %}
                Username: <input type="text" name="username" value="" size="50" />
                <br />
                Password: <input type="password" name="password" value="" size="50" />
                <br />
                <input type="submit" value="submit" />
                </form>
            </div>
            
			</div>
            <div class="clear">&nbsp;</div>
        </div>    
        </div>
</body>
</html>
