<!DOCTYPE html>
<html>
    <head>
        <title>Skedge Login</title>
    </head>

    <body>
        <h1>Login to Skedge</h1>
        <p> Don't have an account? <a href="./../register">Register here!</a>
        <form id="login_form" method="post" action="/events/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>

    </body>
</html>