{% if event %}
<h2>Event title: {{ event.title }}</h2>
<p>Event description: {{ event.desc }}</p>
<p>Event creator: {{ event.creator }}</p>

<p> Made on: {{ event.pub_date }}</p>
<h2>Invitees: 
{% for invitee in event.invitee_set.all %}
<p> {{ invitee.name }} </p>
{% endfor %}

{% endif %}

<!-- only if not in -->
<form action="{% url 'events:manageInvitee' %}" method="post">   
	<span style="display: none;"><input type="text" name="username" value="{{ user.username }}"/></span>     
	<span style="display: none;"><input type="text" name="eventID" value="{{ event.id }}"</input></span> 							
	<input type="submit" name="join" value="Join Event"/>
</form>

<form action="{% url 'events:manageInvitee' %}" method="post">   
	<span style="display: none;"><input type="text" name="username" value="{{ user.username }}"/></span>     
	<span style="display: none;"><input type="text" name="eventID" value="{{ event.id }}"</input></span> 							
	<input type="submit" name="decline" value="Join Event"/>
</form>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
